* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "DejaVu Sans Mono";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 42, 54, 0.8);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: rgba(191, 191, 191, 1);
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    /* border-bottom: 3px solid #ffffff; */
}

#workspaces button.focused {
    background-color: rgba(68, 71, 90, 1);
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: rgba(255, 85, 85, 1);
}

#mode,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#idle_inhibitor
{
    margin:    0px 4px 0px 10px;
    min-width: 25px;
}

#clock {
  margin:    0px 8px 0px 16px;
  min-width: 100px;
}

#cpu {
	color: #fa6868;
}

#battery.charging {
    color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color:      rgba(238, 46, 36, 1);
}
#battery {
	color: #cccc00;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
}

label:focus {
    background-color: #000000;
}

#memory {
    color: #00fff2;
}

#backlight {
    color: #ffff00;
}

#network {
    /* color: #2980b9; */
    color: #268bd2;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
  color: #4BFA3C;
}

#pulseaudio.muted {
    color: #90b1b1;
}

#tray {
  margin: 0px 1px 0px 20px;
}

#idle_inhibitor {
  margin: 0px 6px 0px 1px;
}
