[Desktop Entry]
Name=APT
GenericName=Astronomer Proposal Tool
Exec=/home/vandal/programs/APT_2020.5/APT
Terminal=false
Type=Application
Keywords=astro;
Icon=/home/vandal/Pictures/jwst.png
