[Desktop Entry]
Name=APT
GenericName=Astronomer Proposal Tool
Exec=/home/vandal/programs/APT_2021.2/APT
Terminal=false
Type=Application
Keywords=astro;apt
Icon=/home/vandal/Pictures/jwst.png
