[Desktop Entry]
Encoding=UTF-8
Name= Topcat
GenericName= Topcat
Comment=Tool for OPerations on Catalogues And Tables
#Exec=topcat
Exec=topcat -Dsun.java2d.uiScale=2
Icon=~/Pictures/topcat.png
Terminal=false
Type=Application
Categories=Application;Sciences;Other;
